<!-- Default home page -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Delivery service branches</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link type="text/css" href='/assets/styles/mainPageStyle.css' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
	
		google.maps.event.addDomListener(window, 'load', getServices);
		
		function getServices() {		  

			var myjson = $.ajax( {
				url:"CollectionService",
				type: "GET",
				dataType:'json', 
				success: function(data) {
					initialize(data);
				},
				error: function(data){
					console.log("error");
				},
			});
		}
		
		
		function initialize(services) {
			  var container = document.getElementById('checkboxes');  			  
			  
			  for (var i = -1; i < services.length; i++) {

					var div = document.createElement('div');
					var checkbox = document.createElement('input');
					var label = document.createElement('label');
				  	var serviceId= "all",serviceName = "all";
				  	
				    if(i >= 0){
						serviceName = services[i].serviceName;
						serviceId = services[i].id;
					}
	
					checkbox.type = "checkbox";
					checkbox.checked = "true";
					//checkbox.id = serviceName + "_cb_"+ (i+1);
					checkbox.id = serviceId + "_cb";
					
					checkbox.className = "checkboxes";
			        checkbox.onchange = "allClick(checkbox)";
	
					label.className = "labels";
					label.htmlFor = serviceId + "_cb";
					console.log(serviceId);
					label.appendChild(document.createTextNode(serviceName));
									
					div.appendChild(checkbox);
					div.appendChild(label);
					container.appendChild(div);
			}
		       
			addMap(checkbox);
			$('#all_cb').next('label').addClass('bold');
			
			$(window).resize(function () {
			    var h = $(window).height(),
			        offsetTop = 60; // Calculate the top offset

			    $('#googleMap').css('height', (h - offsetTop-60));
			        
			}).resize();
			
			
			$(function() {
				$('#all_cb').next('label').addClass('bold');
				$('#all_cb').click(function() {
			        var checkboxes = document.getElementsByTagName('input');
					  if (document.getElementById('all_cb').checked) 
					  {
						  for (var i = 0; i < checkboxes.length; i++) {
				                if (checkboxes[i].type == 'checkbox') {
				                    checkboxes[i].checked = true;
				                }
						  }
					  } else {
						  for (var i = 0; i < checkboxes.length; i++) {
				                if (checkboxes[i].type == 'checkbox') {
				                    checkboxes[i].checked = false;
				                }
				            }
					  }
				});
			});
		}
		

		function addMap(offices, serviceNames) {
			
		  var mapProp = {
				    center:new google.maps.LatLng(49.4,17.4),
				    zoom:7,
				    mapTypeId:google.maps.MapTypeId.ROADMAP
				  };
		  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

		  console.log(serviceNames);
		  for (var i = 0; i < offices.length; i++) {
			  console.log(offices[i].serviceName.serviceName);
			  console.log(serviceNames.indexOf(offices[i].serviceName.serviceName));
                if (serviceNames.indexOf(offices[i].serviceName.serviceName) > -1) {
                	var officeLatLng = {lat: Number(offices[i].latitude), lng:  Number(offices[i].longitude)};
          		    var marker = new google.maps.Marker({
      			    position: officeLatLng,
      			    map: map,
      			    title:  offices[i].name
      			  });
                }
            }
		}
		
		function btnConfirm_onClick(btnConfirm) {
	        var cbNames = $('input:checked').next();// all cb!!
	        var urlParams="/?";
	        var serviceNames = [];
            console.log(cbNames.length);
	        for (var i = 0; i < cbNames.length; i++) {
	        	var serviceName = cbNames[i].firstChild.data;
                console.log('serviceName');
                console.log(serviceName);
                urlParams += "serviceName.serviceName="+serviceName+"&";
                if(serviceName != "all"){
                    serviceNames.push(serviceName);
                }
		    }
	        urlParams = urlParams.substring(0, urlParams.length-1);
	        console.log(serviceNames);
	        
	        getOffices(serviceNames);
		}
		
		function btnConfirm_onClick2(btnConfirm) {
	        var serviceIds = $('input:checked');
	        var urlParams="/?";
	        for (var i = 1; i < serviceIds.length; i++) {
	        	var serviceName = serviceIds[i].id;
                urlParams += "id="+serviceName.substring(0, serviceName.length-3)+"&"
		    }
	        urlParams = urlParams.substring(0, urlParams.length-1);
	        console.log(urlParams);
	        getOffices(urlParams);
		}

		function getOffices(serviceNames) {		  

			console.log('getOffices...');
			var myjson = $.ajax( {
				url:"CollectionOffice", // + urlParams,
				type: "GET",
				dataType:'json', 
				success: function(data) {
					addMap(data,serviceNames);
					console.log(data);
				},
				error: function(data){
					console.log("error");
				},
			});
		}
	</script>

</head>
<body>

<div class="container-fluid">
  <div class="header">
    <h1><b>Delivery service branches</b></h1>
  </div>
  <div class="row">
    <div class="col-lg-8" id="googleMap">
    </div>
    <div class="col-lg-3" id="services">
      <h3><b>Services</b></h3>
      <div id="checkboxes"></div>
      <button id="btnConfirm" onclick="btnConfirm_onClick(this)">Confirm</button>
    </div>
  </div>
</div>

</body>
</html>
