<div class="container-fluid">
  <div class="header">
    <h1><b>Delivery service branches</b></h1>
  </div>
  <div class="row">
    <div class="col-lg-8" id="googleMap">
    </div>
    <div class="col-lg-3" id="services">
      <h3><b>Services</b></h3>
      <div id="checkboxes"></div>
      <button id="btnConfirm" onclick="btnConfirm_onClick(this)">Confirm</button>
    </div>
  </div>
</div>
